<html>
    <head>
        <title>Hoard it!</title>
    </head>
    <body>
        <h1>Welcome to your collection, fellow hoarder!</h1>

        {% if items is not empty %}
            <p>Here are all the weird things you own:</p>
            <ul>
                {% for item in items %}
                    <li>{{ item.getItemName }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/items' method='post'>
            <label for='item'>Item name:</label>
            <input id='item' name='item' type='text'>

            <button type='submit'>Add junk</button>
        </form>
        <form action='/delete_items' method='post'>
            <button type='submit'>Clear junk</button>
        </form>
        <form action='/search_items' method='post'>
            <label for='search_item'>Search for:</label>
            <input id='search_item' name='search_item' type='text'>

            <button type='submit'>Go!</button>
        </form>
    </body>
</html>
